/* 
    Document   : layout
    Created on : Jul 14, 2011, 6:46:37 AM
    Author     : jorge
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    background: #ffffff;
    font-family: sans-serif;
    text-align: center;
}

h1 {font: normal 1.7em sans-serif;}
h2 {font: normal 1.5em sans-serif;}
h3 {font: normal 1.3em sans-serif;}
h4 {font: normal 1.1em sans-serif;}
h5 {font: bold 0.9em sans-serif;}
h6 {font: bold 0.8em sans-serif;}

h1, h2, h3 {
    margin-bottom: 0.2em;
}

#columnaIzq {
    width:220px;
    max-width: 220px;
    _width:220px;
}

/* JS disabled styles */  
#menu nav li:hover ul { display:block; left: 200px}

/* base nav styles */  
#menu nav { 
    display:block; 
    margin:0 auto 20px; 
    border:1px solid #222; 
    position:relative; 
    background-color:#6a6a6a; 
    font:16px Tahoma, Sans-serif; 
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px;
    background-image:-moz-linear-gradient(0% 22px 90deg, #043DB0, #91A4C9); 
    background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#91A4C9), to(#043DB0));
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
    box-shadow:2px 2px 2px rgba(0,0,0,.75);
}  
#menu nav ul { padding:0; margin:0; width: 200px;  z-index: 1000;}  
#menu nav li { position:relative; float:left; list-style-type:none; width: 100% }  
#menu nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }  
#menu nav li a {display:block; padding:10px 20px; border-left:1px solid #999; border-bottom:1px solid #0000DD; color:#eee; text-decoration:none; }  
#menu nav li a:focus { outline:none; text-decoration:underline; }  


#menu nav li.last a { border-right:none; }  
#menu nav a span { 
    display:block; 
    float:right; 
    margin-left:5px; 
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
}  

#menu nav ul ul { 
    display:none; 
    width:100%; 
    position:absolute; 
    top:0; 
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-rightright-radius:4px; 
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px;
    background-color:rgba(4,61,176,.8); 
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    box-shadow:2px 2px 2px rgba(0,0,0,.8);
}  
#menu nav ul ul li { 
    float:none; 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-right:1px solid rgba(0,0,0,0.1);
}  
#menu nav ul ul li a { display:block; padding:10px 20px; border-bottom:1px solid #222;  border-left:none; font-size:14px; }  
#menu nav ul ul a:hover { 
    background-image:-moz-linear-gradient(0% 100px 90deg, #91A4C9, #043DB0); 
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#043DB0), to(#91A4C9));
} 
#menu nav li:hover { 
    background-image:-moz-linear-gradient(0% 100px 90deg, #91A4C9, #043DB0); 
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#043DB0), to(#91A4C9)); 
}  


#menu nav ul ul li.last {  
    border-left:1px solid rgba(0,0,0,0.1); 
    border-bottom:1px solid rgba(0,0,0,0.1); 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-right-radius:4px; 
    border-bottom-right-radius:4px;
}  

#menu nav ul ul li.first {  
    border-left:1px solid rgba(0,0,0,0.1); 
    border-bottom:1px solid rgba(0,0,0,0.1); 
    -moz-border-radius-topright:4px; 
    -webkit-border-top-right-radius:4px; 
    border-top-right-radius:4px;
}  

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

#login td{
    background: #0182dc;
    padding: 0px 0px 0px 0px; 
    text-align: center;
}

#login th{
    background-image:url(../resources/images/topLogin.png);
    padding: 0px 0px 0px 0px; 
    height: 50px;
    width: 200px;
    font-size: 24px;
    font-family: Ubuntu;
    color: #2c2c2c;  
    text-align: center;
}

#login .footer{
    background-image:url(../resources/images/bottomLogin.png);
    padding: 0px 0px 0px 0px; 
    height: 50px;
    width: 200px;
    font-size: 16px;
    font-family: Ubuntu;
    color: #2c2c2c;    
    vertical-align: middle;
    text-align: center;
}


#register tr{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#register td{
    background: #ffffff;
    padding: 0px 0px 0px 10px;
    font-family: Trebuchet MS;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

#register label{
    width: 200px;

    padding-bottom: 20px;
    margin-bottom: 20px;
}

#register input{
    width: 300px;
}

#simpleItem .dataPrincipal {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    text-align: left;
    padding: 10px 1px 1px 1px;
    width: 300px;


    -moz-border-radius: 20px;
    border-radius: 20px;
    border-right-color: #aaaaaa;
    border-left-color: #aaaaaa;
    border-bottom-color: #aaaaaa;
    border-top-color: #aaaaaa;
}

#simpleItem .data {

    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    text-align: left;
    margin: 20px 20px 1px 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;


    -moz-border-radius: 20px;
    border-radius: 20px;
    border-right-color: #d2d0d0;
    border-left-color: #d2d0d0;
    border-bottom-color: #d2d0d0;
    border-top-color: #d2d0d0;
}

#simpleItem td {

    text-align: left;
    vertical-align: top;
    font-family: Trebuchet MS;
}

#simpleItem .itemTitle{
    font-size: 28px;    
    font-family: Trebuchet MS;
    color: #556275;
    font-weight: bold;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

#simpleItem .itemInfo{
    font-size: 14px;
    font-family: Trebuchet MS;
    padding-top: 2px;
    font-weight: bold;
}

#simpleItem .itemPrice{

    color: #0000ff;
    font-size: 18px;

    text-align: right;
}

#simpleItem .itemDescription{
    font-size: 20px;
    font-family: Trebuchet MS;
    padding: 10px 0px 0px 0px;
}

#simpleItem .buttom{
    font-size: 14px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: -moz-linear-gradient(top, #F58585, #DF4D4D 14px, #E03131 12px, #E40000);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F58585), 
        color-stop(0.3, #DF4D4D), color-stop(0.3, #E03131), to(#E40000));    
    font-family: Trebuchet MS;
    padding-top: 2px;
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
}


#searchBar {
    background-image:url(../resources/images/searchBar.png);
    height: 50px;
    width: 659px;
    font-size: 18px;
    font-family: Trebuchet MS;
    color: #2c2c2c;           
}

#searchBar td {
    text-align:left; 

    padding: 0px 0px 0px 10px;
}

.ui-widget {
    font-size: 85%;
}

#principal {
    width: 620px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

#itemPregunta {
    background-image: -moz-linear-gradient(top, #999999, #dddddd 14px, #eeeeee 12px, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), 
        color-stop(0.3, #dddddd), color-stop(0.3, #eeeeee), to(#ffffff));
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    margin: 2px 2px 0px 0px;
    padding: 2px 2px 5px 5px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    border-right-color: #d2d0d0;
    border-left-color: #d2d0d0;
    border-bottom-color: #d2d0d0;
    border-top-color: #d2d0d0;
    width: 590px;
    font-size: 12px;
    font-family: Ubuntu;
    color: #2c2c2c;      
}

#itemPregunta td{

    text-align: left;
    margin-right: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.preguntas {
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    border-right-color: #6773fe;
    border-left-color: #6773fe;
    border-bottom-color: #6773fe;
    border-top-color: #6773fe;
    text-align:left;
    width: 600px;

    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.formPanel {
    text-align: left;
}

.inputTextCorto {
    width: 70px;
}

.encabezado {
    text-align: right;
}

.encabezado a {
    color: black;
    font-family: Tahoma;
}

.labelColumn {
    width: 180px;
    text-align: right;
}

/* Data table que contiene publicaciones (itemInfo) */

.ui-datatable.itemsTable table {
    border: none !important;
    border-color: white;
    text-align: center;
}

.itemsTable.ui-datatable .ui-datatable-data td,
.itemsTable.ui-datatable .ui-datatable-data-empty td{
    border: none;
    padding: 1px;
}

.itemsTable.ui-datatable .ui-paginator-bottom {
    background: none;
}

.itemsTable .ui-widget-header {
    border: none !important;
}

.itemsTable .ui-state-default {
    border: none !important;
}

.itemsTable tr.ui-widget-content {
    border: none !important;
} /* Fin de data table en resultados.xhtml */

.filtroActual {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.filtroActual.ui-widget-content a {
    color: chocolate;
}

.controlPanel a {
    text-decoration: none;
}

.controlPanel {
/*    background-image: -moz-linear-gradient(top, #0620E2, #384CE2 40px, #6F7DE8 12px, #E0E3F8);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0620E2), 
		    color-stop(0.3, #384CE2), color-stop(0.3, #6F7DE8), to(#E0E3F8));   */
    background-image: -moz-linear-gradient(top, #0620E2, #384CE2 20px, #6F7DE8 12px, #E0E3F8);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0620E2), to(#E0E3F8));
    width: 100%; 
    text-align: center;

}

.labelBienvenida {
    font-weight: bold;
}

.panelFiltro {
    width: 200px;
    margin-bottom: 10px;
}

/* ------- Menu categorias ---------- */

#category ul {
    list-style: none; /* Remove the bullets */
    margin: 0;
    padding: 0;
    width:200px; /* Menu width */
    z-index: 1000;
}
#category a {
    color: #000;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 17px;
}
#category ul li {
    display: block; /* Make a menu item a block (height 100%, width 100%) */
    height:100%;
    width:100%;
    position: relative;
    background-image: -moz-linear-gradient(top, #E0E3F8, #4F7DE8 14px, #384CE2 12px, #0620E2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E3F8), 
        color-stop(0.3, #4F7DE8), color-stop(0.3, #384CE2), to(#0620E2)); 
    border-bottom:1px solid #fff;
    float:left; /* Make sure (in IE) there is no margin between the menu items */
}
#category ul li a{
    display:block; /* When rollover the menu item, the whole item will be seen as link. */
    padding: 5px 3px;
}
#category ul li a:hover {
    color: #fff;
    background-image: -moz-linear-gradient(top, #0620E2, #384CE2 14px, #4F7DE8 12px, #E0E3F8);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E3F8), 
        color-stop(0.3, #4F7DE8), color-stop(0.3, #384CE2), to(#0620E2)); 

}
/* Fin Menu categorias */

/* Primer submenu */
#category ul ul {
    position: absolute;
    top: 0;
    display:none; /* Display nothing when not 'hovered' */

}
#category ul li ul li{
    /*background: lightskyblue;*/
    background-image: -moz-linear-gradient(top, #E0E3F8, #4F7DE8 14px, #384CE2 12px, #0620E2);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E3F8), 
        color-stop(0.3, #4F7DE8), color-stop(0.3, #384CE2), to(#0620E2));     
    border: 1px solid goldenrod;
}
#category ul li ul li a:hover{
    /*background: cornflowerblue;*/
    background-image: -moz-linear-gradient(top, #0620E2, #384CE2 14px, #4F7DE8 12px, #E0E3F8);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E3F8), 
        color-stop(0.3, #4F7DE8), color-stop(0.3, #384CE2), to(#0620E2)); 
}
#category ul li:hover ul{
    display: block; /* Make sure the submenu is displayed as blocks as well. */
    left:200px; /* Your menu width. The submenu appears there, when you hover a menu item. */ 
}

.carusel {
    height: 100%;
    background: url(./../resources/images/fondoCarusel.jpg)
}

.carusel h1 {
    color: white;
}

.ui-widget-content .highlight-calendar a {
    font-weight: 900;
    color: #ff0000;
    /*background-image: -moz-linear-gradient(top, #0101DF, #2E2EFE 14px, #5858FA 12px, #A9BCF5) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0101DF), 
        color-stop(0.3, #2E2EFE), color-stop(0.3, #5858FA), to(#A9BCF5)) !important;*/
}

/* -------- Item info (publicacion) styles ---------- */

.item{
    background-image:url(../resources/images/item.png);
    margin-top: 5px;    
/*    -moz-border-radius: 10px;
    background: -moz-linear-gradient(top, #E9FDFE, white);
     Chrome, Safari:
    background: -webkit-gradient(linear,
                left top, left bottom, from(#E9FDFE), to(white));
    border-radius: 10px;
    border: 1px solid cornflowerblue;*/
    padding: 0px 0px 0px 0px; 
    height: 100px;
    width: 600px;
    font-size: 24px;
    color: #2c2c2c;
}

.itemDestacado {
/*    background: url(../resources/images/item.png) no-repeat;
    background-size: 600px,120px; */
    margin-top: 3px;    
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
    background: -moz-linear-gradient(top, #680271, white);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#680271), to(white));
    /*background-color: #E9FDFE; */
    display: block;
    padding: 0px 0px 0px 0px; 
    height: 120px;
    width: 600px;
    font-size: 28px;
    font-family: Ubuntu;
    color: #2c2c2c; 
}

/*.itemInfo{
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    font-family: Trebuchet MS;
    padding: 1px 1px 1px 1px;
}*/


.itemTitle{
    font-size: 16px;    
    font-family: Trebuchet MS;
    color: #000000 !important;
}

.itemTitleDestacado{
    font-size: 20px;    
    font-family: Trebuchet MS;
    color: #D8BD0B !important;
    text-decoration: underline;
    
}

/*.itemDestacado .itemTitle {
    font-size: 20px;  
}*/

.itemDestacado .imagenPublicacion {
    border: 1px solid gray; 
    margin-top: 7px;
    margin-left: 3px;
}

.item .imagenPublicacion {
    border: 1px solid gray; 
    margin-top: 5px;
    margin-left: 3px;
}

.editColumn {
    width: 50px;
    font-weight: bold;
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
}

.editColumn a:hover {
    color: #6a6a6a;
}

.precioColDesc {
    text-align: left;
    
}

.precioColValor {
    text-align: left;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
}

.itemImgCol {
    width: 50px;
/*    padding: 2px 2px 2px 5px;*/
}

.itemContentCol {
    width: 300px;
    text-align: left;
    font-size: 14px;
}

.itemPriceCol {
    text-align: left;
    width: 150px;
    font-size: 14px;
}
/* fin itemInfo styles */

/* ---------- estilos Alquiler (composite) --------*/
.itemAlquiler {
    margin: 10px;    
    -moz-border-radius: 10px;
    background: -moz-linear-gradient(top, cornflowerblue, white);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(cornflowerblue), to(white));
    border-radius: 10px;
}

/* tabla destacarPublicacion */
.titleRow {
    font-weight: bold;
    border: 1px solid black;
}
.dataRow {
    
}

#div1
{
    margin:2px;
    border:1px solid #0000ff;
    height:auto;
    width:auto;
    float:left;
    text-align:center;
}
#div1 img
{
    display:inline;
    margin:3px;
    border:1px solid #ffffff;
}
#div1 a:hover img
{
    border:1px solid #0000ff;
}

.borrarBoton{
    width: 80px; 
    height: 25px; 
    border: 1px; 
    margin: 2px;
    background-color: white;
    float: none;
}
.text_line
{
    clear:both;
    margin-bottom:2px;
}
.imagenes {
    width: 600px;
    height: 600px;
}

.fieldset {
    margin: 10px 20px 0px 20px;
    width: 550px;
}

.leftCol {
    text-align: right;
}

.rightCol {
    text-align: left;
}


/* --------------------- Reputación -------------------- */

.repPuntLabel {
     width: 100px;
     text-align: left;
}
.repPuntCant {
     width: 60px;
}
.repPuntPorc {
     width: 60px;
}
.repTable {
     width: 620px;
}
.repTableColumn {
     vertical-align: top;
}

/* --------------------- Ver Calificación -------------------- */

.calTableColumn {
     vertical-align: top;
}

/* ------ Mis Pagos ---------- */
.filaAmarilla {
    background: lemonchiffon;
}

.filaVerde  {
    background: palegreen;
}

.filaRoja  {
    background: #E40000;
}

/*.datosInput .ui-state-default, .datosInput .ui-widget-content .ui-state-default, .datosInput .ui-widget-header .ui-state-default {
    font-weight: normal !important;
    color: black !important;
}*/

.datosInput {
    font-weight: normal !important;
    color: black !important;
}