/* 
    Document   : menu
    Created on : 21-feb-2012, 14:25:55
    Author     : ignaciogiagante
    Description:
        Purpose of the stylesheet follows.
*/

header#page_header nav ul, #page_footer nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


/* base nav styles */
#navTop1 { 
    display: block; 
    margin: 0 auto 20px; 
    border: none; 
    position: relative; 
    background-color: #4682B4; 
    font: 14px Tahoma, Sans-serif;
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
    box-shadow:2px 2px 2px rgba(0,0,0,.75);
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px;
}

#navTop1 ul { padding:0; margin:0; }

#navTop1 li { 
    position:relative; 
    float:left; 
    list-style-type:none; }

#navTop1 ul:after { 
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden; }

#navTop1 li a { 
    display:block; 
    padding:10px 35px; 
    border-left:1px solid #999; 
    border-right:1px solid #222; 
    color:#eee; 
    text-decoration:none; 
}

#navTop1 li a:first {
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px;
}

#navTop1 li a:focus { 
    outline:none; 
    text-decoration:underline; }

#navTop1 li:first-child a { border-left:none; }

#navTop1 li.last a { border-right:none; }

#navTop1 a span { 
    display:block; 
    float:right; 
    margin-left:5px; 
}

#navTop1 { 
    /*    background-image:-moz-linear-gradient(0% 22px 90deg, #222, #999); 
        background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#222)); */
}

#navTop1 li:hover { 
    /*    background-image:-moz-linear-gradient(0% 100px 90deg, #999, #222); 
        background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555)); */
    background: #478AB6;
}

#navTop1 ul a span { 
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg); }


/* ------- User Section ---------- */
.user-image {
    float:left;
    min-height:60px;
    text-align:center;
    width:150px;
    padding: 15px
}

.image {
    height:auto;
    max-width:150px;
    width:auto;
}

.user-namedetail {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: steelblue;   
}

#list {
    font-size:0.75em; 
}

#list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list ul {
    color: black;
}

#list ul li {
    margin-bottom: 1px;
    background: lavender;
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px;
}

#list ul li .current {
    background: white;
}

#list ul a {
    color: black;
    font-weight: bold;
    cursor: pointer;
    display:block;
    height:35px;
    line-height: 35px;
    font-size: 1.2em;                   
    text-decoration:none;
    width:100%;
    text-align: center;
    vertical-align: middle;
    padding: auto;
}
#list ul li:hover{
    background: white;
}

#barra{
    background-position:0 50%;
    background-color: grey;
    float:left;
    font-size:13px;
    height:20px;
    width:700px;
    margin-bottom:7px;
    margin-left:20px;
    margin-right:0;
    margin-top:12px;
    padding-bottom:0;
    padding-left:10px;
    padding-right:7px;
    padding-top:6px;
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

#nav2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav2 {
    display:inline-block;
    width:720px;
    margin:0px auto;
    padding:0;
    background:#335599 repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
}
#nav2 li {
    margin:10px;
    float:left;
    position:relative;
    list-style:none;
}
#nav2 a {

    color:#e7e5e5;
    text-decoration:none;
    display:block;
    padding:8px 20px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, .7);
}

/* selected menu element */
#nav2 .current a, #nav2 li:hover a {
    background:#7788aa url(../images/bg.png) repeat-x 0 -20px;
    color:#fff;
    border-top:1px solid #f8f8f8;

    box-shadow:0 2px 2px rgba(0,0,0, .7); /*some css3*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}

/* sublevels */
#nav ul li:hover a, #nav li:hover li a {
    background:none;
    border:none;
    color:#000;
}
#nav ul li a:hover {
    background:#335599 url(../images/bg.png) repeat-x 0 -100px;
    color:#fff;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, 0.7);
}

#nav ul li:first-child > a {
    -moz-border-radius-topleft:10px; /*some css3*/
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
}
#nav ul li:last-child > a {
    -moz-border-radius-bottomleft:10px; /*some css3*/
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}