/* 
    Document   : menu
    Created on : 21-feb-2012, 14:25:55
    Author     : ignaciogiagante
    Description:
        Purpose of the stylesheet follows.
*/

header#page_header nav ul, #page_footer nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


/* base nav styles */
#navTop1 { display:block; 
           margin:0 auto 20px; 
           border: none; 
           position:relative; 
           background-color:#4682B4; 
           font:16px Tahoma, Sans-serif;}

#navTop1 ul { padding:0; margin:0; }

#navTop1 li { 
    position:relative; 
    float:left; 
    list-style-type:none; }

#navTop1 ul:after { 
    content:"."; 
    display:block; 
    height:0; 
    clear:both; 
    visibility:hidden; }

#navTop1 li a { 
    display:block; 
    padding:10px 50px; 
    border-left:1px solid #999; 
    border-right:1px solid #222; 
    color:#eee; 
    text-decoration:none; }

#navTop1 li a:focus { 
    outline:none; 
    text-decoration:underline; }

#navTop1 li:first-child a { border-left:none; }

#navTop1 li.last a { border-right:none; }

#navTop1 a span { 
    display:block; 
    float:right; 
    margin-left:5px; }

#navTop1 ul ul { 
    display:none; 
    width:100%; 
    position:absolute; 
    left:0; 
    background:#6a6a6a; }

#navTop1 ul ul li { float:none; }

#navTop1 ul ul a { 
    padding:5px 10px; 
    border-left:none; 
    border-right:none; 
    font-size:14px; }

#navTop1 ul ul a:hover { background-color:#555; }


#navTop1 { 
    -moz-border-radius:4px; 
    -webkit-border-radius:4px; 
    border-radius:4px; }

#navTop1 { 
    background-image:-moz-linear-gradient(0% 22px 90deg, #222, #999); 
    background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#222)); }

#navTop1 { 
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
    box-shadow:2px 2px 2px rgba(0,0,0,.75); }

#navTop1 li:hover { 
    background-image:-moz-linear-gradient(0% 100px 90deg, #999, #222); 
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555)); }

#navTop1 ul ul { 
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px; 
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px; }

#navTop1 ul ul { 
    background-color:rgba(0, 0, 255, 0.7); 
    -moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    -webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
    box-shadow:2px 2px 2px rgba(0,0,0,.8); }

#navTop1 ul ul li { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-right:1px solid rgba(0,0,0,0.1); }

#navTop1 ul ul a:hover { background-color:rgba(85,85,85,.9); }

#navTop1 ul ul li.last { 
    border-left:1px solid rgba(0,0,0,0.1); 
    border-bottom:1px solid rgba(0,0,0,0.1); 
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px; 
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;
    border-bottom-left-radius:4px; 
    border-bottom-right-radius:4px; }

ul a span { 
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg); }


/* ------- User Section ---------- */

.inner-content {
    float:left;
    padding-bottom:7px;
    padding-left:0;
    padding-right:0;
    padding-top:23px;
    width:980px;
}

.user-namedetail {
    float:left;
    padding-bottom:10px;
    padding-left:0;
    padding-right:0;
    padding-top:10px;
    text-align:center;
    width:208px;
}

.user-section-new {
    float:left;
    margin-bottom:0;
    margin-left:10px;
    margin-right:10px;
    margin-top:12px;
    padding-bottom:12px;
    width:200px;
    background-color: #999;
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

#dashboard-left-nav #rnb{
    float:left;
    width:200px;
    
}

.uster-lagrimg {
    float:left;
    margin-bottom:0;
    margin-left:25px;
    margin-right:10px;
    margin-top:30px;
    padding-right: 10px;
    min-height:60px;
    text-align:center;
    width:150px;
    background-color: #fff;
}

.image {
    border-bottom-style:none;
    border-color:initial;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none;
    border-width:initial;
    padding-left: 10px;
    height:auto;
    max-height:100px;
    max-width:100px;
    width:auto;
}

#list {
    font-size:0.75em; 
    width:150px;
    padding-top: 250px;
    padding-left: 25px;
    padding-bottom: 50px;
}

#list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list ul {background:#666;}

#list ul li {
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
}

#list ul a {
    color: #fff;
    cursor: pointer;
    display:block;
    height:35px;
    line-height: 30px;
    font-size: 1.2em;                   
    text-decoration:none;
    width:100%;
    text-align: center;
    padding: auto;
}
#list ul li a:hover{
    text-decoration:underline;
}

#barra{
    background-position:0 50%;
    background-color: grey;
    float:left;
    font-size:13px;
    height:20px;
    width:700px;
    margin-bottom:7px;
    margin-left:20px;
    margin-right:0;
    margin-top:12px;
    padding-bottom:0;
    padding-left:10px;
    padding-right:7px;
    padding-top:6px;
    -moz-border-radius-bottomleft:4px; 
    -moz-border-radius-bottomright:4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius:4px; 
    -webkit-border-bottom-right-radius:4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

#nav2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav2 {
    display:inline-block;
    width:720px;
    margin:0px auto;
    padding:0;
    background:#335599 repeat-x 0 -110px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
}
#nav2 li {
    margin:10px;
    float:left;
    position:relative;
    list-style:none;
}
#nav2 a {
    
    color:#e7e5e5;
    text-decoration:none;
    display:block;
    padding:8px 20px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, .7);
}

/* selected menu element */
#nav2 .current a, #nav2 li:hover a {
    background:#7788aa url(../images/bg.png) repeat-x 0 -20px;
    color:#fff;
    border-top:1px solid #f8f8f8;

    box-shadow:0 2px 2px rgba(0,0,0, .7); /*some css3*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}

/* sublevels */
#nav ul li:hover a, #nav li:hover li a {
    background:none;
    border:none;
    color:#000;
}
#nav ul li a:hover {
    background:#335599 url(../images/bg.png) repeat-x 0 -100px;
    color:#fff;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, 0.7);
}

#nav ul li:first-child > a {
    -moz-border-radius-topleft:10px; /*some css3*/
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
}
#nav ul li:last-child > a {
    -moz-border-radius-bottomleft:10px; /*some css3*/
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}